@import url(reset.css);
*{
   color: rgba(157, 9, 232, 0.958);
}
h1{
   color: rgb(71, 182, 234);
}
li.content{
   color: rgb(255, 179, 0);
}
li.new_content{
   color: rgb(243, 12, 12);
}
#list{
   color: rgb(255, 179, 0);
}
#new_list{
   color: rgb(243, 12, 12);
}
.link{
   color: blueviolet;
}
.about.class{
   color: rgb(6, 188, 249);
}
.text, {
   color: blue;
}
p, .link{
   color: black;
}
span.other{
   color: red;
}

.text ^ 
{
   colo
}
[href] {
   color: rgba(203, 97, 10, 0.582);
}
.link~p {
   color: red;
}
div>p{
   color: aquamarine;
}
{
   color: purple;
}
.item+div{
   color: greenyellow;
} */
[title~="лил░"]{
   color: rgb(0, 255, 47);
}
h1{
   color: red;
}

