@import url("reset.css");
/* .block-text~div+p{color: blue;} */
/* .block-text~div~p{color: blue;} */
/* .block-text~div>p{color: blue;} */
/* .text>p{color:#08f69b} */
/* p>a{
   color: blue;
} */
/* [title*="Перейди"]{
   color:blueviolet
} */
/* [title$="посиланням"]{
   color:blueviolet
} */
/* [title~="за"]{
   color:#ab2189
} */
/* [title|="Перейди"]{
   color:blueviolet
} */
/* [title^="Перейди"]{
   color:blueviolet
} */
/* [title="Перейди-за посиланням"]{
   color:blueviolet
} */
/* .text{
   color: brown;
} */
/* p{
   color:aqua
} */
/* {
   color:rgb(129, 248, 10) !important
} */
